<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
</head>
<body>
    <h1>Ohayo Nippon!</h1>
    {{template "_logo.html"}}
    {{template "_content.html" .Posts}}
    {{template "_send.html"}}
</body>
</html>